html{
    font-size: 62.5%;
}

:root {
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
}

*{
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Work Sans;
    text-decoration: none;
    color: #0B0223;
}

h2{
    font-size: 4.8rem;
}

li{
    list-style: none;
    padding-bottom: 1.6rem;
}

.margin{
    padding: 0 24rem;
}

.button{
    display: inline-flex;
    padding: 2.4rem 4.0rem;
    border-radius: 48px;
    border: none;
    margin-right: 1.6rem;
    color: white;
    font-size: 2rem;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.header-nav{
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.section1-navBar-logo{
    display: flex;
    margin: 3.7rem 0;
    justify-content: start;
    gap: 1.6rem;
    font-size: 4.5rem;
    font-weight: 700;
}

.section1-navBar-logo span{
    color: var(--primary-color);
}

.section1-navBar-menu{
    display: flex;
    justify-content: end;
    font-weight: 500;
    gap: 3.2rem;
}

.section1-navBar-menu div{
    display: flex;
    margin: 3.7rem 0;
    justify-content: space-around;
    gap: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.section2-hero-div-info{
    grid-column: 1/3;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: start;
    padding-top: 7.4rem;
    padding-bottom: 7.4rem;
    background-image: url("images/Group 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section2-hero-div-info h2{
    font-size: 9.5rem;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section2-hero-div-info .hero-btn-1{
    background-color: var(--primary-color);
}

.section2-hero-div-info .hero-btn-2{
    background-color: var(--secondary-color);
}

.section2-hero-div-info p{
    font-size: 4.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section2-hero-div-info ul{
    font-size: 2rem;
    margin-bottom: 3.6rem;
}

.section2-hero-div-img{
    grid-column: 3/5;
    display: flex;
    justify-content: end;
    padding-right: 24rem;
    
}

.section2-hero-div-img img{
    height: 54.8rem;
}

.section3-onlineGamesTitle{
    grid-column: 1/5;
    margin: 4.8rem 0;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3-onlineGamesTitle p{
    font-size: 1.8rem;
}

.section4-onlineGamesItems{
    grid-column: 1/5;
    display: flex;
    gap: 2.4rem;
    align-items: start;
    justify-content: center;
}

.online-games-items{
    width: 34.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: start;
    flex-wrap: wrap;
    font-size: 2rem;
    position: relative;
}


.online-games-hover-only{
    position: absolute;
    display: none;
}

.online-games-hover-only-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.2rem;
    height: 40rem;
    gap: 0.8rem;
    background-color: #0b022376; 
}

.online-games-hover-only p{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
}

.online-games-hover-only a img{
    width: 48px;
    height: 48px;
}


.online-games-items:hover div{
    display:flex;
}


.online-games-items img{
    width: 100%;
}

.instant-play{
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    gap: 6.4rem;
    margin-top: 12rem;
}

.section5-playInstantly-info{
    text-align: right;
    width: 35rem;
}

.section5-playInstantly-info p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: 1.6rem;
}

.section5-playInstantly-info span{
    color: var(--primary-color)

}

.section5-playInstantly-image div{
    position: relative;
    height: 55rem;
    width: 60rem;
}

.play-image-1{
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
}

.play-image-2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}

.section6-bottomButtons{
    grid-column: 1/5;
    display: flex;
    gap: 2.4rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    flex-wrap: wrap;
    justify-content: center;
    max-width: 192rem;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 9rem;
    margin-top: 9rem;
}

.categoryItems{
    display: flex;
    gap: 1.6rem;
    width: max-content;
    border-radius: 50px;
    background: #FFF;
    padding: 1.2rem;
    font-size: 2rem;
    border:1px solid white;
}

.section6-bottomButtons a:hover strong{
    color: var(--primary-color);
}

.section6-bottomButtons a:hover div{
    border:1px solid var(--primary-color);
}



.section7-footer{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    background: #0B0223;
}

.section7-footer p, .section7-footer a{
    color: white;
}

.footer-branding{
    margin-top: 9rem;
    display: flex;
    gap: 3.2rem;
    font-size: 4.5rem;
    font-weight: 700;
    
}

.footer-branding span{
    color: var(--primary-color);
}

.footer-menu-1, .footer-social, .footer-menu-2 {
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}

.footer-copyright{
    margin-bottom: 9rem;
    display: flex;
    flex-direction: column;
    gap:2.8rem;
}

.footer-copyright p, .footer-menu-2 a{
    color: rgba(255, 255, 255, 0.60);
}




@media screen and (max-width:1676px) {

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .margin{
        padding: 0 2.4rem;
    }

    .header-nav, .section1-navBar-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .section2-hero-div-info{
        grid-column: 1/2;
        width: 100vw;
        height: 50rem;
        align-items: center;
        padding: 7.4rem 2.4rem;
    }

    .section2-hero-div-img{
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        padding: 7.4rem 7.4rem;
        width: 60vw;

    }

    .section3-onlineGamesTitle{
        grid-column: 1/2;
        width: 80vw;
    }

    .section4-onlineGamesItems{
        grid-column: 1/2;
        flex-direction: row;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .instant-play{
        grid-column: 1/2;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.4rem;
        margin-top: 12rem;
    }

    .section6-bottomButtons{
        grid-column: 1/2;
        width: 100vw;
        padding-top: 9rem;
        padding-bottom: 9rem;
        margin-top: 9rem;
    }
    
    .categoryItems{
        gap: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .section7-footer{
        grid-column: 1/2;
        width: 100vw;
    }

    .footer-menu-1, .footer-social, .footer-menu-2 {
        max-width: 100vw;        
        gap: 6rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}




@media screen and (max-width:536px) {

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .margin{
        padding: 0 2.4rem;
    }

    .header-nav, .section1-navBar-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .section2-hero-div-info{
        grid-column: 1/2;
        width: 100vw;
        height: 50rem;
        align-items: center;
        padding: 7.4rem 2.4rem;
    }

    .section2-hero-div-img{
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        padding: 7.4rem 7.4rem;
        width: 60vw;

    }

    .section3-onlineGamesTitle{
        grid-column: 1/2;
        width: 80vw;
    }

    .section4-onlineGamesItems{
        grid-column: 1/2;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
        justify-content: center;
    }

    .instant-play{
        grid-column: 1/2;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.4rem;
        margin-top: 12rem;
    }

    .section6-bottomButtons{
        grid-column: 1/2;
        width: 100vw;
        padding-top: 9rem;
        padding-bottom: 9rem;
        margin-top: 9rem;
    }
    
    .categoryItems{
        gap: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .section7-footer{
        grid-column: 1/2;
        width: 100vw;
    }

    .footer-menu-1, .footer-social, .footer-menu-2 {
        max-width: 100vw;        
        gap: 6rem;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
